<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon"
        href="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Flag_of_Brazil.svg/320px-Flag_of_Brazil.svg.png">
    <title>
        Eleições - 2° Turno
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

    <meta name="description" content="Dashboard Eleições - 2° Turno" />
    <meta property="og:title" content="Eleições - 2° Turno" />
    <meta property="og:description" content="Dashboard Eleições - 2° Turno" />
    <meta property="og:image"
        content="https://static.cdn.pleno.news/2022/08/bolsonaro-x-lula-3-e1660827096348-1024x607.jpg" />

</head>

<body>
    <noscript>
        <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
                Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>

</html>