<template>
  <div class="tile is-parent" style="padding: 0.25rem">
    <article class="tile is-child notification" style="padding: 0.5rem">
      <div class="columns is-gapless is-vcentered is-mobile" style="margin: 0">
        <!-- bandeira / estado / perc total -->
        <img width="40" :src="getBandeiraBySigla(estado)" />
        <div class="column" style="margin-left: 10px">
          <span class="title">
            {{ estado == "ZZ" ? "EXT" : estado }}
          </span>
          <span v-if="isLoading" class="icon is-small">
            <img width="40" src="@/assets/reload.png" />
          </span>
        </div>
        <div
          class="column is-6 is-flex is-align-items-end is-justify-content-end"
        >
          <span class="title">
            {{ perc_concluido }}
            <!-- <Counter :value="perc_concluido" /> -->
          </span>
          %
        </div>
      </div>
      <!-- horario / votos computados -->
      <div class="columns is-gapless is-vcentered is-mobile" style="margin: 0">
        <div class="column">
          <span class="icon-text">
            <span class="icon">
              <img width="20" src="@/assets/clock-outline.png" />
            </span>
            <span><Counter :value="horario_update" /></span>
          </span>
        </div>
        <div
          class="column is-4 is-flex is-align-items-end is-justify-content-end"
        >
          <p><Counter :value="parseFloat(votos_computados)" /></p>
        </div>
      </div>
      <!-- votacao -->
      <div class="columns is-gapless is-mobile">
        <div class="column">
          <transition-group name="flip-list" tag="div">
            <div
              v-for="cand in candidatos"
              :key="cand.nome"
              class="columns is-gapless is-mobile"
              style="margin: 0"
            >
              <div class="column">
                <p
                  class="subtitle"
                  style="font-weight: bold"
                  :style="{ margin: '0px', color: cand.cor }"
                >
                  {{ cand.nome }}
                </p>
                <p><Counter :value="parseFloat(cand.votos)" /></p>
              </div>
              <div
                class="
                  column
                  is-4 is-flex is-align-items-center is-justify-content-end
                "
              >
                <span class="subtitle">
                  {{ cand.percentual }}
                  <!-- <Counter :value="cand.percentual" -->
                </span>
                %
              </div>
            </div>
          </transition-group>
        </div>
        <!-- grafico -->
        <div
          class="
            is-hidden-desktop-only is-hidden-widescreen-only
            column
            is-3 is-flex is-align-items-center is-justify-content-end
          "
        >
          <Graph :data="graphData" />
        </div>
      </div>
    </article>
  </div>
</template>

<script>
import { getEstadoBySigla, getBandeiraBySigla } from "@/utils/estados.js";
import { getApuracaoEstado } from "@/handlers/tse";
import Counter from "./Counter.vue";
import Graph from "./Graph";

export default {
  name: "CardEstado",
  props: {
    estado: String,
  },
  components: {
    Counter,
    Graph,
  },
  created() {
    this.atualizarVotos();
    let secondsToReload = 30;
    setInterval(
      function () {
        this.atualizarVotos();
      }.bind(this),
      secondsToReload * 1000
    );
  },
  computed: {
    graphData() {
      // [lula, bolsonaro]
      let temp = [0, 0];
      this.candidatos.forEach((element) => {
        if (element.numero == 13) {
          temp[0] = parseFloat(element.percentual);
        }
        if (element.numero == 22) {
          temp[1] = parseFloat(element.percentual);
        }
      });
      return temp;
    },
  },
  data: function () {
    return {
      isLoading: false,
      horario_update: "--:--",
      perc_concluido: "0",
      votos_computados: "0",
      candidatos: [
        {
          nome: "NOME",
          votos: 10,
          percentual: "0",
        },
        {
          nome: "NOME",
          votos: 10,
          percentual: "0",
        },
      ],
    };
  },
  methods: {
    getEstadoBySigla,
    getBandeiraBySigla,
    async atualizarVotos() {
      this.isLoading = true;

      let data = await getApuracaoEstado(this.estado);

      if (data) {
        this.horario_update = data.hora;
        this.perc_concluido = data.percentual;
        this.votos_computados = data.votos;
        this.candidatos = data.candidatos;
      }
      this.isLoading = false;
    },
  },
};
</script>

<style scoped>
.flip-list-move {
  transition: transform 1s;
}
@media only screen and (max-width: 1407px) and (min-width: 768px) {
  .title {
    font-size: 1.25rem;
  }
  .subtitle {
    font-size: 1.1rem;
  }
}
</style>
