<template>
  {{ count.toLocaleString() }}
</template>

<script>
import anime from "animejs/lib/anime.es.js";
export default {
  props: ["value"],
  data() {
    return {
      count: 0,
    };
  },
  watch: {
    value(value) {
      this.setCount(value);
    },
  },
  methods: {
    setCount(val) {
      const obj = { n: this.count };
      anime({
        targets: obj,
        n: val,
        round: 1,
        duration: 500,
        easing: "linear",
        update: () => {
          this.count = obj.n;
        },
      });
    },
  },
  mounted() {
    this.setCount(this.value);
  },
};
</script>

<style>
</style>