<template>
  <div class="columns is-gapless">
    <div class="column is-2">
      <CardEstado estado="BR" />
    </div>
  </div>
</template>

<script>
import CardEstado from "@/components/CardEstado.vue";

export default {
  name: "App",
  components: {
    CardEstado,
  },
  data: function () {
    return {};
  },
};
</script>