<template>
  <div class="hero is-bold">
    <!-- <Header /> -->
    <div class="columns is-gapless">
      <div class="column">
        <div class="seven-columns">
          <CardEstado
            v-for="estado in estados"
            :key="estado.sigla"
            :estado="estado.sigla"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import CardEstado from "./components/CardEstado.vue";
import estados from "@/utils/estados.js";

export default {
  name: "App",
  components: {
    CardEstado,
    Header,
  },
  created() {
    setInterval(
      function () {
        this.time++;
        console.log(this.time);
        if (this.time == 30) this.time = 0;
      }.bind(this),
      1000
    );
  },
  data: function () {
    return {
      estados,
      time: 0,
    };
  },
};
</script>

<style>
@media only screen and (min-width: 600px) {
  .seven-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
  }
}
</style>


<style>
/* barra de rolagem */
::-webkit-scrollbar-track {
  width: 0;
}
::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-thumb {
  width: 0;
}
</style>